body {
  background-color: #e6e6e6;
}

.selected {
  background-color: #4370bc;
}

.menu {
  background-color: #8da9d8;
}
a{
  color: black;
}

a:hover {
  color: inherit;;
}

a:visited {
  color: inherit;
}

.menu-text {
  padding: 70px 0;
  text-align: center;
  font-family: lobster, cursive;
  height: 23.7vh;
}

.aboutText {
  padding: 20px;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
}

.imgContainer {
  margin: auto;
  display: block;
  width: 100%;
}

img {
  padding: 15px;
  max-width: 32vw;
  max-height: 32vh;
}
