body {
  background-color: #e6e6e6;
}

a {
  color: black;
}

a:hover {
  color: inherit;;
}

a:visited {
  color: inherit;
}

img {
  padding: 5px;
  max-width: 30vw;
  max-height: 30vh;
}

.menu {
  background-color: #8da9d8;
}

.selected {
  background-color: #4370bc;
}

.menuText {
  padding: 70px 0;
  text-align: center;
  font-family: 'lobster', cursive;
  height: 23.7vh;
}

.aboutText {
  padding: 20px;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
}

.imgContainer {
  margin: auto;
  display: block;
  width: 100%;
}
